@import "../../asets/scss/mixin";
@import "../../asets/scss/variable";
.container-cart{
    @include setdisplayflex(flex,column,0,space-between,0);
    min-height: 100vh;
   
    main{
        @include setdisplayflex(flex,column,center,center,0);
        padding: $p_2 0;
        // height: 45vh;
        & Table{
            margin-top: 0;
        }

        .wrapper-finalCart-btn{
            @include setdisplayflex(flex,0,center,space-between,0);
            width: 90%;
        }

        .wrapper-totalPrice{
            @include font(estedad,400,$p_1);
            & span{
                margin-right: .5rem;
            }          
        }
    }
}