@import "../../../../asets/scss/color";
.inventori_first_td{
    width: 65%;
    text-align: right;  
}

.inventori_td{
    text-align: right;
}

.inputInventori{
    width: 5rem;
    background-color: $light;
    &:hover{
        background-color: $bg_color;
    }
}
