@import "../../asets/scss/mixin";
@import "../../asets/scss/variable";
@import "../../asets/scss/color";

.container_finalCart{
    @include setdisplayflex(flex,column,0,space-between,0);
    min-height: 100vh;

    .wrapper-title{
        width: 60%;
        padding: $p_1
    }

    main{
        @include setdisplayflex(flex,column,center,center,0);

        form{
            width: 60% ;
        }

        .wrapper-form-row{
            @include setdisplayflex(flex,0,0,space-between,$p_1); 
            margin-bottom: $p_1;
        }

        .wrapper-date{
            @include setdisplayflex(flex,column,0,0,$p_smal);
            @include font(estedad,300,$p_1);

            input{
                @include setInput($light_gray,$medium_gray,none,none,5px,$p_smal,47%);
            }

            p{
                color: $red;
                font-size: .8rem;
            }
        }

        .wrapper-paymentBtn{
            text-align: center;
        }
    }
}