$dark_color:rgb(0,0,0);
$light_color:rgb(255, 255, 255);
$light_gray: rgb(231, 231, 231);
$bg_color: rgb(247, 247, 247);
$medium_gray: rgb(126, 125, 125);
$gray:rgb(163, 163, 163);
$red:rgb(241, 20, 20);