$black:rgb(0,0,0);
$light:rgb(255, 255, 255);
$light_gray: rgb(231, 231, 231);
$bg_color: rgb(247, 247, 247);
$medium_gray:#484848;
$gray:#a7a7a7;
$red:rgb(241, 20, 20);
$orange:#d95b44;
$dark:#545454;
