@mixin setdisplayflex($display,$directon,$align,$justify,$gap) {
    display: $display;
    flex-direction: $directon;
    align-items: $align; 
    justify-content: $justify ; 
    gap: $gap
}

@mixin setInput($background-color,$color,$border,$outline,$border-radius,$padding,$with) {
    background-color: $background-color;
    color: $color;
    border: $border; 
    outline: $outline ; 
    border-radius: $border-radius;
    padding: $padding;
    width: $with;
}

@mixin size($with,$height) {
    width: $with;
    height: $height;
}

