$full-w:100vw;
$full-h:100vh;

$p_smal: 0.5rem;
$p_1: 1rem;
$p_one-med: 1.5rem;
$p_2: 2rem;
$p_3: 3rem;
$p_4: 4rem;
$p_5: 5rem;
$p_6: 6rem;
$p_7: 7rem;
$p_8: 8rem;
$p_9: 9rem;

$m_smal: 0.5rem;
$m_1: 1rem;
$m_2: 2rem;
$m_3: 3rem;
$m_4: 4rem;
$m_5: 5rem;
$m_6: 6rem;
$m_7: 7rem;
$m_8: 8rem;
$m_9: 9rem;