@import '../../../asets/scss/mixin';
@import '../../../asets/scss/variable';
@import '../../../asets/scss/color';


.container-cardOne{
    @include setInput($bg_color,$dark,0,none,10px,0,22vw);
    @include setdisplayflex(flex,0,center,0,0);
    @include font(estedad,100,.9rem);
    position: relative;
    margin: $p_6 $p_1 $p_1 $p_1;
    cursor: pointer;
    transition: all ease-in-out .3s!important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    .detail{
        position: absolute;
        display: block;
        top: -1rem;
        right: 5rem;
        text-decoration: none;
        color: $bg_color;
        font-size: 1.3rem;
    }
    &:hover {
        transform: translateY(-8px) scale(1.03);

        .detail{ 
            position: absolute;
            top: 5rem;
            right: 5rem;
            display: block;
            z-index: 9999;
            transition: all ease-in-out .4s!important;  
        }
    }
    
    & img{
        @include size($p_6,$p_8);
        overflow: hidden;
        text-align: center;
        position: absolute;
        top: -$p_4;
        right: $p_6;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .wrapper-info{
        text-align: center;
        width: 100%;
        margin-top: $p_6;
        .title{
            @include font(estedad,500,$p_1);
            margin-top: 0;
        } 
        
        & p{
            font-size: .8rem
        }
    }

    .wrapper-price{
        @include setInput($orange,$light,0,none,20px,.4rem $p_1,$p_7);
        margin: $p_1 0 $p_1 0;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }   
}

.figure {   

    &:hover:after {
      @include setdisplayflex(flex,column,center,center,0);
      @include setInput(rgba(0, 0, 0, 0.3),$bg_color,0,none,10px,0,100%);   
      content: " ";
      font-size: 1.3rem;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;  
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
    }  
}