@import "../../../asets/scss/mixin";
@import "../../../asets/scss/variable";
@import "../../../asets/scss/color";

.overlay{
    @include setdisplayflex(flex,0,center,center,0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background-color: rgba(66,66,66,0.7);
}

.modalWrapper{
    @include setdisplayflex(flex,column,center,0,$p_1);
    @include setInput($bg_color,0,none,none,10px,$p_1,36%);

    & select{
        @include setInput($light_gray,$medium_gray,none,none,5px,$p_smal,100%);
        font-size: $p_1;
    }
}

.headerModal{
    @include setdisplayflex(flex,0,center,space-between,0); 
    width: 90%; 
}

.wrapper_textarea{
    @include setdisplayflex(flex,column,0,0,$p_smal);
    width: 90%;
    
    & textarea{
        height: 15vh;
    }
}