@import'../../asets/scss/color';
@import'../../asets/scss/variable';
@import'../../asets/scss/mixin';

.page-container{
    background-color:$bg-gray;
}
.wrapper_sliderShow{
    background-image: url(../../asets/images/sliderShow/slider-background.jpg);
}

.wrapper-title-category{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    text-align: center;
    margin-bottom: $p_1
}

.container-firstCards{
    @include setdisplayflex(flex,column,0,0,0);
    background-color:$bg-gray;
    padding-top: $p_3;
}

.category-link{
    text-decoration: none;
}

h2{
    @include font(estedad,500,1.2rem);
    text-align: center;
    color: $orange;
    transition: all ease-in-out .3s!important;

    &:hover {
        transform: translateY(-5px) scale(1.04)
    }
}
.wrapper-firstCard{
    @include setdisplayflex(flex,0,0,center,0);
    flex-wrap: wrap;
    padding-top:$p_2;
    height: fit-content;
    background-color:$bg-gray;
}

.container-secondCard{
    @include setdisplayflex(flex,column,0,0,2rem);
    background-color:$bg-gray;
    height: fit-content;
    padding-bottom: $p_3 ;
    flex-wrap: wrap;

    .wrapper-secondCard{
        @include setdisplayflex(flex,0,0,center,$p_6);
        flex-wrap: wrap;
    }
}

.container-slider-two{
    @include setdisplayflex(flex,0,0,0,$p_1);
    width: 100vw;
    padding: $p_2;
    background-color: $dark;

    & img{
        margin-left: $p_1;
    }
}

.wrapper-sliderTwo{
    width: 72%;
}