@import '../../asets/scss/color';
@import '../../asets/scss/mixin';
@import '../../asets//scss/variable';

.main-detail{
    @include setdisplayflex(flex,0,center,center,$p_1);
    @include font('estedad',100,$p_1);
    position: relative;
    height: 80vh;
    background-color: $bg_gray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    .container-detail{
        @include setdisplayflex(flex,0,0,right,$p_2);
        @include size(55% , 70vh);
        background-color: $bg-color;
        border-radius: 5px;

        .wrraper-detail-img{
            @include setdisplayflex(flex,column,0,0,0);
            @include size(22% , 60vh);
            border-radius: 5px;
            position: absolute;
            top: $p_4;
            right: 16rem;
            background-color: $bg-color;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

            .detail-thumbnail{
                @include setdisplayflex(flex,0,center,center,0);
                width: 100%;
                padding: $p_1 0 $p_1 0;

                & img{
                    @include size(70% , 35vh);
                    transition: transform 0.3s;
                }
                & img:hover{
                    transform: scale(1.5);
                }
            }

            .wrapper-img{
                @include setdisplayflex(flex,0,center,space-around,0);
                padding: 0 $p_smal $p_smal $p_smal;
                height: 100%;

                & div{
                    @include size(20% , 10vh);
                    border: 1px solid gray;

                    & img{
                        @include size(3.5rem , 3.8rem);
                    }
                }
            }
        }

        .wrapper-detail-info{
            @include setdisplayflex(flex,column,center,space-around,0);
            padding: $p_3;
            margin-right: 15rem;
            color: $medium_gray;
            text-align: center;

            .wrapper-name{

                & h3{
                    margin-top: $p_2;
                }
                & p{
                    color: $gray;
                }
            }

            .productCounter{
                @include setInput(0,0,none,.1rem solid $gray,1px,$p_smal,$p_3);
                text-align: center;
                margin-top: $p_1;

                &:hover{
                    border: .1rem solid $orange;
                    cursor: pointer;
                }
            }
        }
    }
}