@import '../../../asets/scss/mixin';
@import '../../../asets/scss/variable';
@import '../../../asets/scss/color';


.container-cardTwo{
    @include setInput($bg_color,$dark,0,none,10px,0,21vw);
    @include setdisplayflex(flex,column,center,0,0);
    @include font(estedad,100,.9rem);
    position: relative;
    cursor: pointer;
    margin-top: $p_3;
    transition: all ease-in-out .3s!important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    .detail{
        position: absolute;
        display: block;
        top: -1rem;
        right: 5rem;
        text-decoration: none;
        color: $bg_color;
        font-size: 1.3rem;
    }

    &:hover {
        transform: translateY(-10px) scale(1.07);

        .detail{ 
            position: absolute;
            top: 7rem;
            right: 5rem;
            display: block;
            z-index: 9999;
            transition: all ease-in-out .4s!important;  
        }
    }

    .wrapper-img-cardTwo{
        @include setdisplayflex(flex,0,center,center,0);
        @include setInput($light,0,0,none,5px,0,$p_11);
        height: $p_9;
        position: absolute;
        top:-$p_2;
        right: 3.7rem;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    & img{
        @include size($p_8,$p_6);
        overflow: hidden;
        text-align: center;    
    }

    .wraper-info-cardTwo{
        margin-top:$p_8 ;
        @include setdisplayflex(flex,column,center,center,90%);

        .title{
            @include font(estedad,500,$p_1);
            margin-bottom: 0;
        }

        & p{
            text-align: center;
            font-size: .8rem
        }

        .price{
            @include setInput( $orange,$bg_color,0,none,5px,.4rem,$p_13);
            box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
        }
    }
}
