@import '../../asets//scss/variable';
@import '../../asets//scss/mixin';
@import '../../asets//scss/color';



.containet-main-product{
    @include setdisplayflex(flex,column,center,center,$p_1);

    .wrraper-main-product{
        display: flex;
        width: 100%;
        & main{
            @include setdisplayflex(flex,0,center,space-around,$p_1);
            flex-wrap: wrap;
            padding: $p_2 $p_1 ;
        }
    }

    .wrapper-pagination{
        width: $p_3;
    }
}