@import '../../asets//scss/variable';
@import '../../asets//scss/mixin';
@import '../../asets//scss/color';



.containet-main-product{
    display: flex;

    & main{
        display: flex;
        flex-wrap: wrap;
        padding: $p_2 $p_1;
    }
}