@import '../../asets/scss/variable';
@import '../../asets/scss/color';
@import '../../asets/scss/mixin';

.nav{
    display: flex;
    @include font(estedad,400,.9rem);
    
    .link{
        text-decoration: none;
        color: $gray;
        padding: 0 .7rem;
        @include setdisplayflex(flex,0,center,0,$p_smal);

        &:hover{
            background-color: $medium_gray;
            box-shadow: 0 1px 0px 0px rgb(255 255 255 / 20%) inset;
            border-radius: 5px;
            color: $orange;          
        }
    }

    .wrapper-batch{
         @include setdisplayflex(flex,column,center,center,0); 
        margin-bottom: .9rem;

        .batchCart{
            height: 1.1rem;
            color: $orange;
        }
    }    
}
